.Dictionary section {
  background-color: #749f82;
  padding: 30px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 7px 8px 18px rgba(89, 69, 69, 0.6);
}

.Dictionary .searchbar,
.submitbutton {
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid #3d8361;
}

.Dictionary .searchbar {
  width: 80%;
  color: #3d8361;
}
.Dictionary .submitbutton {
  background-color: #3d8361;
  color: #fff8ea;
}
.Dictionary .hint {
  color: #eef2e6;
  font-size: 13px;
  margin: 3px 2px 0 0;
}
